// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  text-align: center
}

a.new {
  display: flex;
  justify-content: center;
}

div.title, div.body {
  padding: 10px
}

div.body label {
  display: block;
  margin-bottom: 2px
}

input[type="submit"] {
  margin-left: 10px
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.button {
  justify-content: center;
  display: flex;
}

.btn-back {
  margin-top: 1.2rem;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:flex;
  margin: 0 auto;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.btn-back:hover {
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color:#72b352;
}
.btn-back:active {
  position:relative;
  top:1px;
}

a.back {
  text-decoration: none;
}

